.connect-wallet-button {
    position: absolute;
    top: 2%;
    right: 5%;
}
.main-container {
    position: absolute; /* Положение относительно родителя */
    top: 50px; /* Расстояние от верхней границы экрана */
    left: 50%; /* Центруем по горизонтали */
    transform: translateX(-50%); /* Смещение влево на 50% ширины контейнера */
    width: 100%;
    max-width: 360px;
    overflow: hidden; /* Скрываем переполнение */
    transition: max-height 0.8s ease, padding 0.8s ease; /* Плавный переход для max-height и padding */
    cursor: pointer;
    border-radius: 25px;
    display: flex; /* Flex контейнер */
    flex-direction: column; /* Вертикальное расположение элементов */
    gap: 30px; /* Отступы между элементами */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    align-items: center; /* Выравнивание по горизонтали */
    max-height: 125px; /* Минимальная высота */
    box-sizing: border-box; /* Учитываем padding в общей высоте */
}

/* Стили для развернутого состояния */
.main-container.expanded {
    max-height: 500px; /* Максимальная высота при раскрытии */
    padding: 20px; /* Отступы при раскрытии, не изменяем */
}

.jackpot-container, .info-container, .buy-ticket-container {
    width: 100%; /* Ширина 100% для внутренних контейнеров */
    text-align: center; /* Центрируем текст */
    flex-shrink: 0; /* Не допускаем сжатия элементов */
}

/* Стиль для кнопки покупки билета */
.buy-ticket-container {
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный фон */
    backdrop-filter: blur(10px); /* Матовый эффект через размытие */
    color: ButtonText;
    padding: 12px;
    margin-bottom: 5px;
    width: 300px;
    height: 60px;
    border-radius: 25px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* черная тень вниз */
    display: flex; /* Для выравнивания элементов в ряд */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: flex-start; /* Выравнивание по горизонтали */
}

/* Стиль для изображения внутри кнопки */
.buy-ticket-container img {
    width: 50px; /* Уменьшаем размер изображения */
    height: 50px;
    margin-right: 20px; /* Отступ между картинкой и текстом */
    border-radius: 50%; /* Делаем картинку круглой */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9); /* черная тень вниз */
}

/* Стиль для текста кнопки */
.buy-ticket-text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Убедитесь, что высота HTML и BODY также 100% */
}

.container {
    width: 100%;
    height: 100vh; /* Занимает 100% высоты экрана */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex-direction: column;
    text-align: center;
}

.transfer-button {
    border: none;
    padding: 0;
    background: none;
}

.transfer-button img {
    width: 160px;
    height: auto;
}
.jackpot-container {
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный фон */
    backdrop-filter: blur(10px); /* Матовый эффект через размытие */
    color: ButtonText;
    padding: 12px; /* Уменьшаем отступы */

    width: 300px;
    height: 60px; /* Устанавливаем фиксированную высоту */
    border-radius: 25px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* черная тень вниз */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем текст по вертикали */
}

.jackpot-text {
    font-size: 22px;
}

.info-container {
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный фон */
    backdrop-filter: blur(10px); /* Матовый эффект через размытие */
    color: ButtonText;
    padding: 10px;
    margin-bottom: 5px;
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* черная тень вниз */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instant-lottery-rules {
    text-align: center; /* Выравнивание текста по центру */
}

.rule {
    margin: 5px 0; /* Отступы между правилами */
    font-size: 16px; /* Размер шрифта для правил */
    font-weight: 400; /* Вес шрифта */
    color: #333; /* Цвет текста (можете изменить по желанию) */
}

@keyframes wallet-fade {
    0% { opacity: 0;}
    50% { opacity: 1;} /* Появление */
    100% { opacity: 0;} /* Исчезновение */
}

.wallet-info {
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    animation: wallet-fade 5s forwards; /* Увеличьте длительность */
}
.fixed-text {
    font-size: 22px; /* Размер шрифта для фиксированного текста */
    font-weight: bold; /* Жирный текст */
    margin-bottom: 5px; /* Отступ снизу */
}

.jackpot-gif {
    width: 40px; /* Ширина GIF */
    height: 40px; /* Высота GIF */
    display: inline-block; /* Отображение как блок */
}

/* Popup */
.popup {
    font-size: 18px;
    position: fixed;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ButtonFace; /* Системный цвет для фона */
    color: ButtonText; /* Системный цвет для текста */
    padding: 20px;
    width: 256px;
    border-radius: 25px;
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup.show {
    opacity: 1;
    visibility: visible;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: ButtonText; /* Системный цвет для текста */
}

.popup p {
    margin: 0 0 10px 0;
    transition: opacity 1s ease; /* Плавная смена текста */
}

.popup-text-fade {
    opacity: 0;
}

.popup-img-container {
    margin-top: 10px;
}

.popup-img-container img {
    width: 80px;
    height: 80px;
}

/* Анимация для заставки */
/* Стиль для заставки */
.splash-screen {
    position: fixed; /* Закрепляем заставку поверх всех элементов */
    top: 0;
    left: 0;
    width: 100vw; /* Ширина 100% экрана */
    height: 100vh; /* Высота 100% экрана */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0087cb; /* Фон заставки */
    transition: opacity 1s ease; /* Плавное изменение прозрачности */
    opacity: 1; /* Изначальная видимость */
    z-index: 9999; /* Убедимся, что заставка находится поверх всего */
}

.splash-screen.fade-out {
    opacity: 0; /* Прозрачность для скрытия */
    pointer-events: none; /* Отключаем взаимодействие с элементами заставки после её исчезновения */
}

/* Текст для заставки */
.splash-text {
    text-align: center;
    font-size: 58px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #000000; /* Цвет текста */
    line-height: 1.8; /* Межстрочный интервал */
}


.tracking-in-expand {
    -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Анимация появления текста */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* Градиент приложения */
body {
    background: linear-gradient(149deg, rgb(255, 255, 255) 0%, rgb(255, 238, 0) 42%, rgb(220, 150, 15) 72%, rgb(0, 0, 0) 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
