#Connect {
  position: absolute;
  top: 3%;
  right: 5%;
}
    /* Контейнер для центрирования содержимого */

.container {
      width: 100%; /* Ширина контейнера теперь занимает всю ширину экрана */
      height: 100vh; /* Высота контейнера занимает 100% высоты окна */
      display: flex;
      justify-content: center; /* Центрирование по горизонтали */
      align-items: center; /* Центрирование по вертикали */
      flex-direction: column; /* Расположение элементов по вертикали */
      margin: 0; /* Убираем внешние отступы */
      text-align: center; /* Центрирование текста внутри контейнера */
    }

    /* Стили для кнопки с изображением */
.transfer-button {
      border: none; /* Убираем рамку кнопки */
      padding: 0; /* Убираем отступы */
      background: none; /* Убираем фон кнопки */
      margin-top: 20px; /* Отступ сверху */
    }

    /* Стили для изображения внутри кнопки */
.transfer-button img {
      width: 200px; /* Размер изображения */
      height: auto; /* Сохранение пропорций */
    }

    /* Стили для контейнера с текстом джекпота */
.jackpot-container {
      border: 2px solid #035aec; /* Цвет и толщина рамки */
      border-radius: 10px; /* Скругление углов рамки */
      padding: 10px 20px; /* Отступы внутри рамки */
      margin-bottom: 20px; /* Отступ снизу */
      background-color: #f0f0f0; /* Фоновый цвет контейнера */
    }

    /* Стили для текста джекпота */
.jackpot-text {
      font-size: 18px; /* Размер шрифта */
      color: #035aec; /* Цвет шрифта */
      margin: 0; /* Убираем внешние отступы */
    }
.popup {
    position: fixed; /* Меняем position на fixed, чтобы окно располагалось относительно экрана */
    top: 50%; /* Расположение по вертикали по центру */
    left: 50%; /* Расположение по горизонтали по центру */
    transform: translate(-50%, -50%); /* Сдвиг для абсолютного центрирования */
    display: none; /* Скрываем окно по умолчанию */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Повышаем1 z-index, чтобы окно было поверх других элементов */
}
