#Connect {
    position: absolute;
    top: 2%;
    right: 5%;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Контейнер для центрирования содержимого */
.show-popup-button {
    display: none; /* СКРЫВАЕТ КНОПКУ ПОКАЗА КНОПКИ ДЛЯ POPUP, ДЛЯ ВЁРСТКИ НУЖНО ЭТО ОТКЛЮЧАТЬ */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Убедитесь, что высота HTML и BODY также 100% */
}

.container {
    width: 100%;
    height: 100vh; /* Занимает 100% высоты экрана */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex-direction: column;
    text-align: center;
}

.transfer-button {
    border: none;
    padding: 0;
    background: none;
    margin-top: 20px;
}

.transfer-button img {
    width: 160px;
    height: auto;
}

.jackpot-container {
    background-color: ButtonFace;
    color: ButtonText;
    padding: 20px; /* Уменьшаем отступы */
    margin-bottom: 20px;
    width: 200px;
    height: 80px; /* Устанавливаем фиксированную высоту */
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем текст по вертикали */
    margin-top: -30px;
}


.wallet-container {
    background-color: ButtonFace;
    color: ButtonText;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallet-info {
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    animation: wallet-fade 5s forwards; /* Увеличьте длительность */
}
.fixed-text {
    font-size: 22px; /* Размер шрифта для фиксированного текста */
    font-weight: bold; /* Жирный текст */
    margin-bottom: 20px; /* Отступ снизу */
}

@keyframes wallet-fade {
    0% { opacity: 0; transform: translateY(20px); }
    50% { opacity: 1; transform: translateY(0); } /* Появление */
    100% { opacity: 0; transform: translateY(-20px); } /* Исчезновение */
}

.jackpot-text {
    font-size: 22px;
    font-weight: 600;
}

.jackpot-gif {
    width: 40px; /* Ширина GIF */
    height: 40px; /* Высота GIF */
    display: inline-block; /* Отображение как блок */
}

/* Popup */
.popup {
    font-size: 18px;
    position: fixed;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ButtonFace; /* Системный цвет для фона */
    color: ButtonText; /* Системный цвет для текста */
    padding: 20px;
    width: 256px;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup.show {
    opacity: 1;
    visibility: visible;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: ButtonText; /* Системный цвет для текста */
}

.popup p {
    margin: 0 0 10px 0;
    transition: opacity 1s ease; /* Плавная смена текста */
}

.popup-text-fade {
    opacity: 0;
}

.popup-img-container {
    margin-top: 10px;
}

.popup-img-container img {
    width: 80px;
    height: 80px;
}

/* Анимация для заставки */
/* Стиль для заставки */
.splash-screen {
    position: fixed; /* Закрепляем заставку поверх всех элементов */
    top: 0;
    left: 0;
    width: 100vw; /* Ширина 100% экрана */
    height: 100vh; /* Высота 100% экрана */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0087cb; /* Фон заставки */
    transition: opacity 1s ease; /* Плавное изменение прозрачности */
    opacity: 1; /* Изначальная видимость */
    z-index: 9999; /* Убедимся, что заставка находится поверх всего */
}

.splash-screen.fade-out {
    opacity: 0; /* Прозрачность для скрытия */
    pointer-events: none; /* Отключаем взаимодействие с элементами заставки после её исчезновения */
}

/* Текст для заставки */
.splash-text {
    text-align: center;
    font-size: 58px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #000000; /* Цвет текста */
    line-height: 1.8; /* Межстрочный интервал */
}


.tracking-in-expand {
    -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Анимация появления текста */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* Градиент приложения */
body {
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
